<!--<app-header></app-header>-->
<router-outlet></router-outlet>
<!--<app-pag-inicio></app-pag-inicio>-->


    <div class="page-wrap">
  
  
<footer class="site-footer">
    <br>
  <a class="image" href="https://github.com/betajobs/portal-empleo" target="_blank">
        
        <span id="logos"><a><img id="logo" alt="logo" src="..\resources\githubsrc.png"></a></span>
        <span id="logos"><a><img id="logo" alt="logo" src="..\resources\facebookblack.png"></a></span>
        <span id="logos"><a><img id="logo" alt="logo" src="..\resources\linkedin1.png"></a></span>
        <span id="logos"><a><img id="logo" alt="logo" src="..\resources\twitterwhote.png"></a></span>
   <br><br>
   </a>
   <p> BetaJobs diseño y construcción por Anabel, David, Mayra y Raquel - Derechos reservados  <span id="copyBrand"><a><img id="copy" alt="copy" src="..\resources\copyriught.png"></a></span> </p>
   
</footer>

