<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img id="brand" alt="Brand" src="https://raw.githubusercontent.com/reactjs/redux/master/logo/logo.png"/>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="lista-de-ofertas">Ofertas disponibles <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Noticias del sector</a></li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Mi trabajo ideal...">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
      </form>
      
      <ul class="nav navbar-nav navbar-right">
        <div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Bienvenido, Mayra
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li><a href="#">Editar mi perfil</a></li>
            <li><a href="#">Ver mis ofertas aplicadas</a></li>
            <li><a href="#">Ver CV</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Cerrar sesión</a></li>
  </ul>
</div>
      </ul>
     
           <ul class="nav navbar-nav navbar-right">
        <div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Empresas
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li><a href="#">Editar mi perfil</a></li>
            <li><a href="#">Ver mis ofertas subidas</a></li>
            <li><button  type="button" (click)="navegarAFormulario()">Añadir oferta</button></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Cerrar sesión</a></li>
  </ul>
</div>
      </ul>

    </div>
  </div>
</nav>
<script>
$('.dropdown-toggle').dropdown()
</script>