#brand {
    height: 55px;
    margin-left: 10px;
}
#divBrand {
    margin-top: -15px;
}

nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    padding: 0px;
}

.navbar {
    color: black;
    background-color: hsl(207.8, 65.6%, 62.3%);
}

#boton1 {
    margin-top: 8px;
}

#boton2 {
    margin-top: 8px;
    margin-right: 25px;
}

#botonEmpresa {
    margin-left: 20px;
}

