#brand {
    width: 40px;
    height: 40px;
}
nav {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    padding: 0px;
}

.navbar {
    color: black;
    background-color: white;
}

