/* You can add global styles to this file, and also import other style files */
/*body {
    background-image: url("http://www.eluniversal.com.co/sites/default/files/codigo_informatico_0.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/