
<h2> Ofertas </h2>
<br> <br>
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="Oferta" class="col-lg-2 control-label">Nombre oferta</label>
    <div class="col-lg-4">
      <input class="form-control" placeholder="Nombre de la oferta">
    </div>
  </div>
  <div class="form-group">
    <label for="Empresa" class="col-lg-2 control-label">Empresa</label>
    <div class="col-lg-4">
      <input class="form-control" placeholder="Nombre Empresa">
    </div>
  </div>
   <div class="form-group">
    <label for="Descripcion" class="col-lg-2 control-label">Descripción oferta</label>
    <div class="col-xs-4 col-sm-4">
      <textarea rows="8" cols="8" class="form-control"> </textarea>
   
    </div>
  </div>
   <div class="form-group">
    <label for="Ciudad" class="col-lg-2 control-label">Ciudad</label>
    <div class="col-lg-2">
      <input class="form-control" placeholder="Lugar de la oferta">
    </div>
  </div>
   <div class="form-group">
    <label for="Fecha" class="col-lg-2 control-label">Fecha oferta</label>
    <div class="col-lg-4">
      <input type="Date" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="Imagen" class="col-lg-2 control-label">Imagen empresa</label>
    <div class="col-lg-1">
      <input type="Image"  id="imagen">
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Aceptar términos y condiciones
        </label>
      </div>
    </div>
  </div>
  <br>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <button type="submit" class="btn btn-default">Enviar</button>
    </div>
  </div>
</form>