<div class="row">
 <div class="col-md-12">
   <h3>Ofertas Publicadas </h3> 
   <!--<a href="#" class="btn btn-success">Oferta</a>Por el momento se desactiva el boton oferta por no saber su utilidad final-->
 </div>
</div>

<div class="row">
 <div class="col-md-12">
   <ul class="list-group">
     <app-oferta-item [oferta]="oferta"></app-oferta-item>
     <app-oferta-item [oferta]="oferta2"></app-oferta-item>
     <app-oferta-item [oferta]="oferta3"></app-oferta-item>
     <app-oferta-item [oferta]="oferta4"></app-oferta-item>
   </ul>
 </div>
</div>
