<a class="list-group-item">



  <span class="colum">
     <span class ="col-md-10 pull-right">



    <h2 class="list-group-item-heading">{{oferta.nombre}}</h2>
    <h3 class="list-group-item-text">{{oferta.empresa}}</h3>
    <p class="list-group-item-text">{{oferta.descripcion}}</p>

     </span>
  </span>

  <span class="colum"> 
      <span class ="col-md-8 pull-right">
     <h4>{{oferta.ciudad}}</h4>
    </span>
  </span>

  <span class="colum"> 
      <span class ="col-md-6 pull-right">
     <h4>{{oferta.fecha}}</h4>
    </span>
  </span>



  <span class="row">
    <span class ="col-md-2 pull-left">
      <img id="empresa" src="{{oferta.imagenUrl}}">
    </span>

  </span>


</a>
