<a class="list-group-item">
 <span class="row">
   <div class="col-md-8 pull-right">
     <h4 class="list-group-item-heading">{{oferta.nombre}}</h4>
     <p class="list-group-item-text">{{oferta.descripcion}}</p>
     <p class="list-group-item-text">{{oferta.empresa}}</p>
     <p class="list-group-item-text">{{oferta.fecha}}</p>
     <p class="list-group-item-text">{{oferta.ciudad}}</p>
   </div>
 <span class ="col-md-4 pull-right">
   <img id="empresa" src="{{oferta.imagenUrl}}">
   </span>
 </span>

</a>
